*
!.bash_profile
!.bashrc
!.bash_aliases
!.gitignore
!.ssh/config
!.ssh/*.pub
!.vim
!.vim/
!/.vim/
!/.vim
!/.vim/*
!/.vim/**
!.vimrc
!.zpreztorc
!.zprezto/**
!.zlogin
!.zlogout
!.zprofile
!.zshenv
!.zshrc
