[submodule ".zprezto"]
	path = .zprezto
	url = keybase://private/meamens/zprezto
	branch = master
	update = merge
[submodule ".vim"]
	path = .vim
	url = keybase://private/meamens/vim
	branch = master
	update = merge
